#cooking {
    background: url("../img/coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:"Arial Black","Arial Bold",Gadget,sans-serif;
    color: white;
}